<div class="panel-group">
  <div class="row page-header">
    <div class="col-sm-6">
      <h1>Alunos</h1>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary btn-circle float-right" routerLink="/register" style="background-color: #1976D2;">
            <img class="white-filter" src="https://www.flaticon.com/svg/static/icons/svg/1237/1237946.svg" style="width: 20px;"/>
        </button>
    </div>
  </div>
  <div class="panel panel-default main-panel"> 
    <div class="panel-heading">
      <div class="row" style="margin: 10px;">
        <div class="col-sm-7 float-left table-title">
          <h4>Alunos</h4>
        </div>
        <div class="col-sm-5 table-title">
          <input class="table-search" placeholder="Search" (change)="searchStudentsByParam($event.target.value)" style="width: 90%;">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-responsive-md btn-table">
          <thead>
            <tr>
              <th style="text-align: center;">Nome</th>
              <th style="text-align: center;">Matrícula</th>
              <th style="text-align: center;">Email</th>
              <th style="text-align: center;">CPF</th>
              <th style="text-align: center;">Editar</th>
              <th style="text-align: center;">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td style="text-align: center;">{{student.name}}</td>
              <td style="text-align: center;">{{student.registration}}</td>
              <td style="text-align: center;">{{student.email}}</td>
              <td style="text-align: center;">{{student.cpf}}</td>
              <!--<td style="text-align: center;"><button [routerLink]="['/register']" [queryParams]="{prop: '{{student.name}}'}" class="btn btn-primary">Editar</button>-->
              <td style="text-align: center;">
                <a (click)="editStudent(student)">
                  <img src="https://www.flaticon.com/svg/static/icons/svg/61/61456.svg" style="width: 20px;"/>
                </a>
              </td>
              <td style="text-align: center;">
                <a (click)="deleteStudent(student._id)">
                  <img src="https://www.flaticon.com/svg/static/icons/svg/3096/3096687.svg" style="width: 20px;"/>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>