<div class="panel-group">
    <div class="row page-header">
        <div class="col-sm-6">
          <h1>Detalhes Aluno</h1>
        </div>
    </div>
    <div class="panel panel-default main-panel"> 
        <div class="panel-body form-panel">
            <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input disabled type="text" formControlName="name" class="form-control" placeholder="Nome" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Nome é obrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input disabled type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email é obtrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Data de Nascimento</label>
                            <input disabled type="date" formControlName="birthdate" class="form-control" placeholder="Data de Nascimento" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                            <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                                <div *ngIf="f.birthdate.errors.required">Data de Nascimento é obtrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default main-panel" style="border: 1px solid #ced4da;"> 
                                <div class="panel-heading">
                                    <div class="row" style="margin: 10px;">
                                      <div class="col-sm-7 float-left table-title">
                                        <h4>Telefones</h4>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive-md btn-table">
                                        <thead>
                                            <tr>
                                            <th style="text-align: center;">Telefone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let phone of phones">
                                            <td style="text-align: center;">{{phone}}</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="registration">Matrícula</label>
                            <input disabled type="text" formControlName="registration" class="form-control" placeholder="Matrícula" [ngClass]="{ 'is-invalid': submitted && f.registration.errors }" />
                            <div *ngIf="submitted && f.registration.errors" class="invalid-feedback">
                                <div *ngIf="f.registration.errors.required">Matrícula é obtrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input disabled type="text" formControlName="cpf" class="form-control" placeholder="CPF" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
                            <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                                <div *ngIf="f.cpf.errors.required">CPF é obtrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rg">RG</label>
                            <input disabled type="text" formControlName="rg" class="form-control" placeholder="RG" [ngClass]="{ 'is-invalid': submitted && f.rg.errors }" />
                            <div *ngIf="submitted && f.rg.errors" class="invalid-feedback">
                                <div *ngIf="f.rg.errors.required">RG é obtrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default main-panel" style="border: 1px solid #ced4da;"> 
                                <div class="panel-heading">
                                    <div class="row" style="margin: 10px;">
                                      <div class="col-sm-7 float-left table-title">
                                        <h4>Avaliações</h4>
                                      </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive-md btn-table">
                                        <thead>
                                            <tr>
                                            <th style="text-align: center;">Nome</th>
                                            <th style="text-align: center;">Peso</th>
                                            <th style="text-align: center;">Grau</th>
                                            <th style="text-align: center;">Descrição</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let evaluation of evaluations">
                                                <td style="text-align: center;">{{evaluation.nome}}</td>
                                                <td style="text-align: center;">{{evaluation.peso}}</td>
                                                <td style="text-align: center;">{{evaluation.grau}}</td>
                                                <td style="text-align: center;">{{evaluation.descricao}}</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Editar</button>
                            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            <a routerLink="/" class="btn btn-link">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>